body {
    margin: 0;
    height: 100vh;
    background: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#container-neve {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.floco {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

@keyframes cair {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(105vh) rotate(360deg);
        opacity: 0.2;
    }
}

.container-luz {
    position: relative;
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.container-luz::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(from 0deg, transparent 70%, var(--cor-luz, #ffffff) 100%);
    animation: rodar 4s linear infinite;
    transform-origin: center;
    z-index: 1;
}

.caixa-interna {
    position: relative;
    background: #151515;
    width: 280px;
    padding: 30px 20px;
    border-radius: 12px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.container-luz.turbo::before {
    --cor-luz: #00d2ff;
    animation-duration: 1s;
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 11px;
    margin-bottom: 2px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 8px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-bottom: 1px solid #fff;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    color: #fff;
}