button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background: white;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

button:hover {
    background: #ccc;
    transform: scale(1.02);
}